.RecipeDetailPage-main {
    display: flex;
    flex-direction: column;
}

.RecipeDetailPage-btn {
    margin-top: 100px;
    height: 25px;
    width: 100px;
}

.RecipeDetailPage-ingrs {
    width: 30%;
}

.RecipeDetailPage-instr {
    width: 70%;
}

.RecipeDetailPage-header {
    /* margin: 0 10%; */
    margin-top: 36px;
    background-color: #e6e6e6;
    display: flex;
    padding: 48px;
    flex-direction: column;
}

.RecipeDetailPage-header-top {
    display: flex;
    flex-direction: row;
}

.IconTag-value {
    font-weight: 700;
}

.RecipeDetailPage-header-bottom {
    display: flex;
    justify-content: space-evenly;
    margin-top: 12px;
    flex-wrap: wrap;
}

.Recipe-detail-top-border {
    border-right: "1px solid lightgray";
}

.RecipeDetailPage-body-label {
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 24px 24px 24px 0px;
    font-size: 16px;
    color: #ababab;
}

.RecipeDetailPage-ingr {
    margin: 16px 0px 16px 16px;
    font-family: roman;
    font-weight: 500;
    font-size: 18px;
}

.RecipeDetailPage-header-divider {
    margin-top: 24px;
    height: 2px;
    width: 100%;
    background-color: white;    
}

.RecipeDetailPage-body {
    /* margin: 0 10%; */
    justify-content: center;
    display: flex;
    flex-direction: row;
    border-top: 1px solid lightgray;

    /* background-color: grey; */
}

.RecipeDetailPage-ingredient-body{
    width: 33%;
}

.RecipeDetailPage-instruction-body{
    width: 66%;
}

/* .RecipeDetailPage-instr {
    padding: 10px;
} */

.RecipeDetailPage-image-container {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 65%;
    /* height: 100%; */
}

.RecipeDetailPage-recipeTitle {
    display: flex;
    align-items: center;
    font-size: 5vw;
    width: 50%;
    /* margin-left: 64px; */
    font-family: serif;
}

.RecipeDetailPage-image {
    /* width: 40%; */
    height: 100%;
}

@media (max-width: 500px) {
    .RecipeDetailPage-header-top {
      flex-direction: column;
    }
  
    .RecipeDetailPage-image  {
        justify-content: center;
        display: block;
        width: 100%;
        /* border-radius: 50%; */
        position: relative;
        overflow: hidden;
    }
    /* .circular--portrait { position: relative; width: 200px; height: 200px; overflow: hidden; border-radius: 50%; } 
    .circular--portrait img { width: 100%; height: auto; } */

    .RecipeDetailPage-recipeTitle {
        font-size: 36px;
        margin: auto;
        margin-top: 24px;
        overflow-wrap: break-word;
        width: 100%;
        text-align: center;
    }

    .RecipeDetailPage-header {
        padding: 36px;
    }
    
    .RecipeDetailPage-body {
        display: flex;
        flex-direction: column;
        padding: 5%;
    }

    .RecipeDetailPage-ingrs {
        width: 100%;
    }
    
    .RecipeDetailPage-instruction-body{
        width: 100%;
    }
    
    .RecipeDetailPage-ingredient-body {
        width: 100%;
    }
    .instructions-container {
        padding: 0px !important;
    }
  }
