/* .image {
    width: 100%;
}

.image-button:hover {
    opacity: 0.5;
    background-color: rgb(143, 143, 143);
    width: 100%;
}

.remove-image {
    width: 100%;
}

.remove-image:hover {
    background-color: gray;
    opacity: 5;
} 
*/
