.recipe-admin-page-container {
    width: 100%;
}

.admin-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
}

.filters-and-search-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 16px 0px 8px 0px;
}

.filters-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 0px 16px 0px 16px;
}

.search-container {
    width: 100%;
}

.applied-filters-container{
    padding: 20px 0px; 
}

.AdminPage-pagination-container {
    display: flex;
    justify-content: center;
    padding: 24px;
}