.recipe-form {
    width: 75%;
    padding: 50px;
    background-color: #fff9eb;
}

.recipe-form-container {
    height: 100%;
    width: 100%;
    margin: auto;
}

.recipe-form-metadata {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}

.recipe-form-button-options-container {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 300px;
    margin-left: auto;
}

.description-container {
    display: flex;
    flex-direction: row;
    padding: 2px;
}

.ingredients-container {
    display: flex;
    flex-direction: row;
    padding: 2px;
    justify-content: start;
    /* width: 700px; */
}

.equipment-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    width: 275px;
}

.ingredient-section-buttons {
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
}

.remove-image {
    width: 50%;
    margin: auto !important;
}

.remove-image:hover {
    background-color: gray;
    /* opacity: 5; */
}
.image:hover {
    opacity: 0.5;
    background-color: rgb(143, 143, 143);
    width: 100%;
}

.image {
    width: 100%;
    margin: auto !important;
}