.recipe-form-container {
    background-color: #fff9eb;
    height: 100%;
    width: 50%;
    min-width: 500px;
    max-width: 75%;
    margin: auto;
}

.recipe-form-container {
    padding: 100px;
}

.recipe-form-metadata {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}

.recipe-form-button-options-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 300px;
    margin-left: auto;
}

.description-container {
    display: flex;
    flex-direction: row;
    padding: 2px;
}

.ingredients-container {
    display: flex;
    flex-direction: row;
    padding: 2px;
    justify-content: start;
    /* width: 700px; */
}

.equipment-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    width: 275px;
}

.ingredient-section-buttons {
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
}

.remove-image {
    width: 100%;
}