.RecipeDetailPage-main {
    display: flex;
    flex-direction: column;
}

.RecipeDetailPage-btn {
    height: 25px;
    width: 100px;
}

.RecipeDetailPage-header {
    margin: 0 10%;
    margin-top: 36px;
    background-color: #e6e6e6;
    display: flex;
    padding: 48px;
    flex-direction: column;
}

.RecipeDetailPage-header-top {
    display: flex;
    flex-direction: row;
}

.IconTag-value {
    font-weight: 700;
}

.RecipeDetailPage-header-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.RecipeDetailPage-header-divider {
    margin-top: 24px;
    height: 2px;
    width: 100%;
    background-color: white;    
}

.RecipeDetailPage-recipeTitle {
    display: flex;
    align-items: center;
    font-size: 72px;
    margin-left: 36px;
    font-family: roman;
}

.RecipeDetailPage-image {
    width: 40%;
    height: 500px;
}