.RecipeDetailPage-main {
    display: flex;
    flex-direction: column;
    background-color: grey;
}

.RecipeDetailPage-header {
    display: flex;
    flex-direction: column;
}

.RecipeDetailPage-instruction {
    text-align: left;
}

.RecipeDetailPage-btn {
    height: 25px;
    width: 100px;
}