.navbarContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #bdebf7;
}

.logo {
    padding: 5px;
    /* margin-left: 128px; */
    height: inherit;
    cursor: pointer;
    /* background-color: blue; */
}

