.RecipeBox-image{
    border-radius: 50%;
    margin: 16px;
}

.RecipeBox-main {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}

.RecipeBox-name {
    text-align: center;
}

.RecipeDetailPage-image {
    width: 60%;
    height: 500px;
}